@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-weight: 400;
  src:  url("../fonts/rubikregular.woff2") format("woff2"), 
  url("../fonts/rubikregular.woff") format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-weight: 500;
  src:  url("../fonts/rubikmedium.woff2") format("woff2"), 
  url("../fonts/rubikmedium.woff") format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "Rubik";
  font-weight: 700;
  src:  url("../fonts/rubikbold.woff2") format("woff2"),
  url("../fonts/rubikbold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
}

img {
  display: block;
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.cite-header {
  padding-bottom: 50px;
}

.cite-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
}

.cite-logo-wrapper {
  display: flex;
  align-items: center;
}

.namanganliklar-logo-wrapper{
  margin-right: 41px;
  background-color: #fff;
  border-radius: 7px;
}

.namanganliklar-logo {
  padding-top: 9px;
  padding-right: 6px;
  padding-bottom: 8px;
  padding-left: 6px;
}

.dollar-box {
  margin-right: 25px;
}

.dollar-sign {
  color: #2959ce;
  font-size: 16px;
  font-weight: 700;
}

.dollar-value {
  text-decoration-line: none;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

.ruble-sign {
  color: #2959ce;
  font-size: 16px;
}

.ruble-value {
  margin-right: 240px;
  font-weight: 400;
  text-decoration-line: none;
  color: #555;
  font-size: 16px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.header-search {
  width: 274px;
  margin-right: 25px;
  padding: 15px 41px 13px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  color: #8d8d8d;
  border-radius: 60px;
  background-color: #fff;
  background-image: url(../images/searchicon.svg);
  background-repeat: no-repeat;
  background-position: left 15px center
}

.languages {
  display: flex;
  height: 36px;
  padding: 3px;
  margin-right: 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 39px;
  background-color: #dce6ff;
}

.uz-language-link {
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  color: #000;
  font-weight: 400;
  text-decoration-line: none;
  font-size: 13px;
  background-color: #fff;
  border-radius: 50%;
}

.ru-language-link {
  padding-top: 11px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 8px;
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 400;
  text-decoration-line: none;
}

.exit {
  display: flex;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #7296ec;
  align-items: center;
  font-size: 16px;
  color: #fff;
  text-decoration-line: none;
}

.cite-header-bottom {
  border-bottom: solid 1px #d1d1d1;
  
}

.header-bottom-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header-bottom-list-item-link {
  text-decoration-line: none;
  color: #7f7f7f;
  font-size: 18px;
}

.hero {
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  width: 696px;
}

.contact-form-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-form-input {
  display: block;
  padding: 18px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #0003;
  background-color: #fff;
  opacity: 0.5;
}

.contact-form-input:first-child {
  margin-right: 10px;
}

.additional-input {
  width: 343px;
}

.contact-input {
  width: 696px;
  margin-bottom: 10px;
}

.contact-form-textarea {
  width: 696px;
  height: 180px;
  margin-bottom: 20px;
  resize: none;
}

.contact-button {
  display: block;
  width: 145px;
  margin-left: auto;
  padding: 17px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #7297ef;
}

.contact-address-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 25px;
  list-style-type: none;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.contact-address-item {
  width: 444px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.contact-address-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.contact-address-item:last-child .contact-address-link {
  margin-bottom: 0;
}

.contact-address-title {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.contact-address-link {
  display: block;
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.cite-footer {
  background-color: #7297ef;
}

.footer-wrapper {
  display: flex;
  margin-right: 101px;
  margin-bottom: 20px;
  margin-left: 101px;
  border-bottom: solid 1px #cecece;
}

.namanganliklar-emblem-link {
  text-decoration-line: none;
}

.namanganliklar-emblem {
  margin-top: 40px;
  margin-right: 168px;
  margin-bottom: 15px;
}

.footer-text-wrapper {
  width: 229px;
}

.footer-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px; 
}

.cite-footer-list {
  margin-top: 83px;
}

.information-cite {
  margin-right: 100px;
}

.cite-footer-list-item-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration-line: none;
  color: #fff;
}

.lastone-item-link {
  margin-bottom: 30px;
}

.last-item-link {
  margin-bottom: 0;
}

.social-networks-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-bottom: 40px;
  margin-left: 101px;
}

.social-networks-text-wrapper {
  width: 161px;
  margin-right: 662px;
}

.social-networks-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 23px; 
  color: #fff;
}

.social-networks-list {
  display: flex;
}

.social-networks-link {
  display: block;
  margin-right: 25px;
  text-decoration-line: none;
}

.youtube-img {
  margin-right: 0;
}